/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.full {
  height: 100%;
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.HEAD {
  font-family: 'Helvitica Bold', serif;
  font-size: 5rem;
  margin-top: 50%;
}

.info-text {
  text-align: center;
}

.projectRequest-image {
  width: 100%;
}

.projectRequest-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
} */
