<!-- <mat-toolbar color="primary">
  <span>
    <a routerLink="/">Inter IIT 2019</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent" *ngIf="userType == 'customer'">Add University</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent" *ngIf="userType == 'customer'">Add Sport</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar> -->

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html"><span>Sporty</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="/matches" class="nav-link">Matches</a></li>
          <li class="nav-item"><a routerLink="/sports" class="nav-link">Sports</a></li>
          <!-- <li class="nav-item"><a href="about.html" class="nav-link">About</a></li> -->
          <!-- <li class="nav-item cta"><a routerLink="/auth/login" class="nav-link">Login</a></li> -->
          <li *ngIf="!userIsAuthenticated" class="nav-item">
            <a routerLink="/auth/login" routerLinkActive="mat-accent" class="nav-link">Login</a>
          </li>
          <li *ngIf="userIsAuthenticated" class="nav-item">
            <a routerLink="/dashboard"  routerLinkActive="mat-accent" class="nav-link">Admin Panel</a>
          </li>
          <li *ngIf="userIsAuthenticated" class="nav-item" style="cursor: pointer; ">
            <a (click)="onLogout()"  class="nav-link">Logout</a>
          </li>
          <!-- <li class="nav-item cta"><a href="#" class="nav-link">Buy Ticket</a></li> -->

        </ul>
      </div>
    </div>
  </nav>