<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/template/images/matches.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
            <div class="col-md-7 mt-5" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Matches</h1>
            </div>
            </div>
        </div>
  </section>
      
      <section class="ftco-section ftco-game-schedule bg-light">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 heading-section mb-4">
            <span class="subheading">Upcoming Matches</span>
                  </div>
              </div>
              <div class="row ">
                  <div class="col-md-12 carousel-game-schedule owl-carousel">

                    <div class="item">
                      <div class="game-schedule">
                        <div class="sport-team d-flex align-items-center">
                          <div class="img logo" [style.background-image]="'url(../../assets/template/images/' + upcomingTeamMatch[0].sport_name + '.jpg)'"></div>
                            <div class="pl-4 desc">
                              <span class="venue">{{upcomingTeamMatch[0].group_name}} | {{upcomingTeamMatch[0].venue}}</span>
                                <h4 class="team-name">{{upcomingTeamMatch[0].institute1}} vs {{upcomingTeamMatch[0].institute2}}</h4>
                              <span class="date">{{upcomingTeamMatch[0].date}}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="item">
                      <div class="game-schedule">
                        <div class="sport-team d-flex align-items-center">
                          <div class="img logo" [style.background-image]="'url(../../assets/template/images/' + upcomingTeamMatch[1].sport_name + '.jpg)'"></div>
                            <div class="pl-4 desc">
                              <span class="venue">{{upcomingTeamMatch[1].group_name}} | {{upcomingTeamMatch[1].venue}}</span>
                                <h4 class="team-name">{{upcomingTeamMatch[1].institute1}} vs {{upcomingTeamMatch[1].institute2}}</h4>
                              <span class="date">{{upcomingTeamMatch[1].date}}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="item">
                      <div class="game-schedule">
                        <div class="sport-team d-flex align-items-center">
                          <div class="img logo" [style.background-image]="'url(../../assets/template/images/' + upcomingTeamMatch[2].sport_name + '.jpg)'"></div>
                            <div class="pl-4 desc">
                              <span class="venue">{{upcomingTeamMatch[2].group_name}} | {{upcomingTeamMatch[2].venue}}</span>
                                <h4 class="team-name">{{upcomingTeamMatch[2].institute1}} vs {{upcomingTeamMatch[2].institute2}}</h4>
                              <span class="date">{{upcomingTeamMatch[2].date}}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item">
                          <div class="game-schedule">
                            <div class="sport-team d-flex align-items-center">
                              <div class="img logo" [style.background-image]="'url(../../assets/template/images/' + upcomingTeamMatch[0].sport_name + '.jpg)'"></div>
                                <div class="pl-4 desc">
                                  <span class="venue">{{upcomingTeamMatch[0].group_name}} | {{upcomingTeamMatch[0].venue}}</span>
                                    <h4 class="team-name">{{upcomingTeamMatch[0].institute1}} vs {{upcomingTeamMatch[0].institute2}}</h4>
                                  <span class="date">{{upcomingTeamMatch[0].date}}</span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="item">
                              <div class="game-schedule">
                                <div class="sport-team d-flex align-items-center">
                                  <div class="img logo" [style.background-image]="'url(../../assets/template/images/' + upcomingTeamMatch[0].sport_name + '.jpg)'"></div>
                                    <div class="pl-4 desc">
                                      <span class="venue">{{upcomingTeamMatch[0].group_name}} | {{upcomingTeamMatch[0].venue}}</span>
                                        <h4 class="team-name">{{upcomingTeamMatch[0].institute1}} vs {{upcomingTeamMatch[0].institute2}}</h4>
                                      <span class="date">{{upcomingTeamMatch[0].date}}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="item">
                      <div class="game-schedule">
                        <div class="sport-team d-flex align-items-center">
                          <div class="img logo" [style.background-image]="'url(../../assets/template/images/' + upcomingTeamMatch[0].sport_name + '.jpg)'"></div>
                            <div class="pl-4 desc">
                              <span class="venue">{{upcomingTeamMatch[0].group_name}} | {{upcomingTeamMatch[0].venue}}</span>
                                <h4 class="team-name">{{upcomingTeamMatch[0].institute1}} vs {{upcomingTeamMatch[0].institute2}}</h4>
                              <span class="date">{{upcomingTeamMatch[0].date}}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
      </section>
      
      <section class="ftco-section">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="heading-section">
                      <span class="subheading">Past Games</span>
                    <h2 class="mb-4">Winners</h2>
                  </div>
            <div *ngFor="let match of completedTeamMatch">
          <div class="scoreboard mb-5 mb-lg-3">
            <div class="divider text-center">
              <span>{{match?.sport_name}}; {{match?.group_name}} </span>
              <br>
              <span>{{match?.venue_name}}</span>
            </div>
            <div class="d-sm-flex mb-4">
              <div class="sport-team d-flex align-items-center">
                <div class="img logo"  [style.background-image]="'url(../../assets/template/images/' + match?.ins1 + '.jpg)'"></div>
                <div class="text-center px-1 px-md-3 desc">
                  <h4 class="team-name">{{ match?.institute1 }}</h4>
                </div>
              </div>
              <div class="sport-team d-flex align-items-center">
                <div class="text-center px-1 px-md-3 desc">
                  <h4 class="team-name">{{ match?.institute2 }}</h4>
                </div>
                <div class="img logo" [style.background-image]="'url(../../assets/template/images/' + match?.ins2 + '.jpg)'"></div>
              </div>
            </div>
            <div class="col-sm-12" style="text-align: center;">Winner : {{ match.winner }}</div>
            </div>
            </div>

          
          </div>
                  <div class="col-md-5 sidebar">
 
                      <div class="sidebar-box">
              <h2 class="mb-4">Points Table</h2>
              <table class="table table-league">
                          <thead>
                            <tr>
                              <th>Institute</th>
                              <!-- <th></th> -->
                              <th>Points</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- <div> -->
                              <tr *ngFor="let institute of allInstitutes">
                                <td>{{institute.inst_name}}</td>
                                <!-- <td></td> -->
                                <td>{{institute.points}}</td>
                            </tr>
                            <!-- </div> -->
                          </tbody>
                        </table>
                      </div>
                      <div class="sidebar-box">
                      </div>
                  </div>
              </div>
          </div>
      </section>


<footer class="ftco-footer ftco-footer-2 ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Sporty</h2>
          <p>A sport event management system to manange large sporting event with multiple participants and sports.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
            <!-- <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
            <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
            <li class=""><a href="#"><span class="icon-instagram"></span></a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact Us</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Belur, IIT Dharwad, Dharwad, Karnataka, India</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 6969696969</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">iitdh.ac.in</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
      </div>
    </div>
  </div>
</footer>
