@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.center {
  text-align: center;
}

.background{
  background-image: url(../../assets/template/images/adminDashboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 61rem;
  width: 100%;
}

.HEAD {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  color: white;
}

.text_2 {
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 3rem ;
}